@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #333;
  color: #eee;
}

article {
  position: relative;

  z-index: 5;

  padding: 2rem;

  border-radius: 5px;

  background-color: #666;
}
