@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #333;
  color: #eee;
}

section {
  position: relative;

  z-index: 5;

  padding: 2rem;

  border-radius: 5px;

  background-color: #666;
}
